<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
	bootstrap="./vendor/autoload.php"
	stopOnWarning="false"
	verbose="false"
	backupGlobals="false"
	backupStaticAttributes="false"
	colors="true">
    <testsuites>
        <testsuite name="SEO">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    
	<!-- Code coverage -->
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./src</directory>
			<directory suffix=".php">./src6</directory>
		</whitelist>
	</filter>
    <logging>
		<log 
			type="coverage-clover" 
			target="build/coverage.xml"/>
    </logging>
</phpunit>