<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
	<testsuites>
		<testsuite name="Basic">
			<directory>tests/SDP/</directory>
		</testsuite>
		<testsuite name="Entities">
			<directory>tests/Asset/</directory>
			<directory>tests/Category/</directory>
			<directory>tests/Tag/</directory>
		</testsuite>
		
	</testsuites>

	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">src</directory>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-clover" target="build/logs/clover.xml" />
	</logging>
</phpunit>